.btn {
  transform: skew(20deg);
  background-color: transparent;
  border: transparent 0px;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;

  text-transform: uppercase;
  font-weight: 600;
  
}
