.modal {
    background-color: #fff;
    padding: 50px 80px 40px 80px;
    width: 500px;
    min-height: 550px;
    position:absolute;
    top: 50px;
    bottom: 0;
    z-index: 10;

    @include media("max", "sm") {
        padding: 20px 50px;
        width: 100%;
        top: 0;
        height: 100%;
    }

    &__title {
        text-align: center;
        font-size: 24px;
        margin: 0;
        color:#000000;

        @include media("max", "sm") {
            font-size: 18px;
        }
    }

    &__text {
        text-align: center;
        margin-top: -20px;
        & span {
            display: inline-block;
            width: 63%;
            @include media("max", "sm") {
                width: 90%;
            }
        }
        
    }

    & p {
        font-size: 13px;
        color:#747678;
        line-height: 1.4;
        margin: 0px;
        font-size: 12px;
        text-align: center;
        margin-top: 20px;

        @include media("max", "sm") {
            margin-top: 0px;
        }
    }

    display: none;

    &.open {
        display: block;
    }
}